#navi{
    list-style-type: none;
    height : 40px;
    padding : 0;
    margin: 0;
}

#navi li{
    float:left;
    position: relative;
    padding : 0;
    line-height: 40px;
    background-color: maroon;
}
#navi li a{
    display: block;
    font-weight: 600px;
    font-size : 14px;
    padding : 5px 25px;
    color : white;
    text-decoration: none;
}
#navi li a:hover{
    color : white;
}
#navi li ul{
    opacity: 0;
    position: absolute;
    left: 0;
    width : 180px;
    background-color: green;
    list-style-type: none;
    padding : 0;
    margin : 0;
}
#navi li:hover ul{
    opacity: 1;
}
#navi li ul li{
    float: none;
    position: static;
    height : 0;
    line-height: 0;
    background-color: none;

}
#navi li:hover ul li{
    height : 30px;
    line-height: 30px;
    padding : 5px 0;
}
#navi li ul li a{
    color:grey;
    background-color: aquamarine;
   
}
#navi li ul li a:hover{
    color : green;
    background-color: maroon;
}
#navi li ul{
    transition: all 0.5s;
}
#navi li ul li{
    transition: height 0.5s;
}